@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: Blackletter;
    src: url('font/JSL_Blackletter.woff') format('woff');
}

@font-face {
    font-family: OldNewspaper;
    src: url('font/Old_Newspaper.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    background-color: #ffffff;
    position: relative;
    min-height: 100vh;
    padding-bottom: 25px;
}

.black-bar {
    background-color: #000000;
    position: absolute;
    top: 0px;
    min-width: 100%;
    min-height: 80px;
    z-index: 1;
}

.header {
    position: absolute;
    top: 25px;
    z-index: 1;
    display: flex;
}

.header span {
    margin: 0px;
    font-size: 2rem;
    text-align: center;
    word-spacing: 0.3rem;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: OldNewspaper;
    font-weight: bold;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
    margin-top: 80px;

}
.container .single-item h2 {
    color: #000000;
    font-family: Blackletter;
    font-size: 2rem;
    text-align: center;
    word-spacing: 0.2rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #000000;
    margin-bottom: 0px;
    border-top: 2px solid #000000;
    padding-top: 8px;
}
.container .single-item h3 {
    color: #000000;
    font-family: OldNewspaper;
    font-size: 1.5rem;
    text-align: center;
    word-spacing: 0.2rem;
    letter-spacing: 1px;
    border-bottom: 1px solid #000000;
    margin-bottom: 0px;
}
.container .single-item p {
    color: #000000;
    font-family: Montserrat;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;

}
table { 
    border-collapse: collapse;
    width:100%;

}

tr {
    text-align: center;
    border-top: 1px solid #000000;
}
.left-table tr {
    text-align: left;
}
.left-table tr td {
padding-right: 10px;
}
.left-table tr td:nth-of-type(1) {
    text-align: center;
}
